[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
databases = "*"
pyyaml = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
pylama = "*"
bandit = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
